<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>
    <%- include('../partial/navbar', {pagename: 'Songs'}) %>
    <br>
    <table border= 1>
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Artist</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% songs.forEach( function(item){ %>
                <tr>
                    <td><%= item.id%></td>
                    <td><%= item.name %></td>
                    <td><%= item.Artist ? item.Artist.name : 'Unknown' %></td>
                    <td><a href="/admin/song/edit/<%= item.id %>">Edit</a> | <a href="/admin/song/delete/<%= item.id %>" tabindex="-1" role="button" onclick="return confirm('Are you sure wanna delete <%= item.name%> from list?')">Delete</a> 
                </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/admin/song/add">Add Song</a>
    <%- include('../partial/footer') %>
</body>
</html>